.checkbox
  .checkbox-input
    opacity: 0

  label::before
    content: ''
    display: inline-block
    width: 1.125rem
    height: 1.125rem
    border: 1px solid #e7e7e7
    border-radius: 0.125rem

  label::after
    content: ''
    display: inline-block
    width: 10px
    height: 6px
    border-left: 2px solid white
    border-bottom: 2px solid white
    transform: rotate(-45deg)

  label
    position: relative

  label::after, label::before
    position: absolute

  label::before
    top: 3px

  label::after
    left: 4px
    top: 8px

  label::after
    content: none

  &.active
    label::before
      background-color: #FF451C
      border: none

  &.active
    label::after
      content: ""

  .checkbox-input:focus + label::before
    outline: rgb(59, 153, 252) auto 5px

  label:hover::before
    border: 1px solid black
