.round-btn
  border: none
  background: none
  border: 1px solid #cccccc
  height: 40px
  line-height: 40px
  border-radius: 20px
  cursor: pointer
  padding: 0 20px
  color: #4c4c4c
  box-sizing: border-box

  & > *
    cursor: pointer
  &:hover
    border-color: #363636


  .edimdoma-icon
    display: inline-block
    font-size: 20px

  .round-btn-text
    font-family: "Open Sans"
    display: inline-block
    font-weight: 400
    font-size: 13px
    margin-top: -3px
    margin-left: 10px
    position: relative
    top: -6px


  &.add-subsection
    border: none
    cursor: pointer
    &:hover
      & > *
        color: #ff451c
    & > *:hover
      cursor: pointer

  &.add-step-button
    text-transform: uppercase
    width: 100%
    height: 100px
    border: 2px solid #cec8bb
    border-radius: 4px
    color: #242424

    > .round-btn-text
      font-weight: 700
      font-size: 12px
      line-height: 17px

.submit-btn
  
  width: 183px
  &:hover
    border-color: #ccc
  > .round-btn-text
    vertical-align: middle
    text-transform: uppercase
    font-size: 12px
    font-weight: 600
    position: static
    color: #ccc
    margin: 0

  &.active
    border: none
    background-color: #66cc66
    > .round-btn-text
      color: white


.draft-btn
  width: 183px
  > .round-btn-text
    font-size: 12px
    font-weight: 600
    position: relative
    top: -3px
  > .edimdoma-icon
      font-size: 16px
