.round-btn
  border: none
  background: none
  border: 1px solid #cccccc
  height: 40px
  line-height: 40px
  border-radius: 20px
  cursor: pointer

  .edimdoma-icon
    display: inline-block

  .round-btn-text
    display: inline-block

  &.add-subsection
    border: none

  &.add-step-button
    width: 100%
    height: 100px
    border: 2px solid #cec8bb
    border-radius: 0.25rem
