html, body {
    height: 100%;
    position: relative;
    line-height: 1.5em;
    background-color: #F5EEE0;
}

html, [dynamic-compile] {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

* {
    cursor: default !important;
    outline: none;
    -webkit-tap-highlight-color: transparent;

}

html {
  display: block;
  color: -internal-root-color;
}

ul {
  padding-inline-start: 0;
}
