.ingredient-item
  display: flex
  width: 100%

  input
    margin-right: 5px
    border-radius: 5px
    border-top: 1px solid #CCCCCC
    border-left: 1px solid #CCCCCC
    border-right: 1px solid #CCCCCC
    padding: 5px
