.ingredient-item
  display: contents
  width: 100%

  > .input
    padding: 0 5px
    position: relative
    &.input-quantity
      width: 78px

  .input-suggestion
    z-index: 1
    display: none
    position: absolute
    top: -7px
    left: 86px
    border-radius: 4px
    background-color: #ffbfc2
    padding: 3px
    font-size: 10px

    &.valid
      background-color: #b8ffc5

      &::before
        border-color: transparent #b8ffc5 transparent transparent
    
    &__item
      white-space: nowrap

    &::before
      content: ""
      z-index: 2
      display: block
      position: absolute
      top: 20px
      right: 85px
      width: 0px
      height: 0px
      border-style: solid
      border-width: 7px 7px 7px 0
      border-color: transparent #ffbfc2 transparent transparent

    &::after
      content: "x"
      display: block
      position: absolute
      z-index: 2
      top: -7px
      left: 90%
      font-weight: 600
      font-size: 12px
      

