// input fields styles

.field-container
  border: 1px solid #e6e6e6
  background-color: #FFF
  border-radius: 4px
  height: 38px
  -webkit-transition: border-color 0.25s ease
  transition: border-color 0.25s ease
  padding: 0 0 0 0
  position: relative
  display: block
  overflow: hidden

  .text-input
    outline: none
    border: none
    background: transparent
    height: 100%
    width: 100%
    -webkit-box-sizing: border-box
    box-sizing: border-box
    font-size: 14px
    font-weight: 400
    padding: 0 20px
    border-radius: 4px
    cursor: text

  &.field-big
    height: 62px
    & .main-column__input_title
      font-family: "Noto Serif"
      font-size: 22px
      font-weight: 700

  &:hover
    border-color: #363636

.input-timings-width
  display: contents
  font-family: "EdimDoma-Icons"
  & .field-container
    width: 45px
    & .text-input
      padding: 0 15px
      overflow: visible

.input-portions-width
  display: contents
  & .field-container
    width: 80px
    & .text-input
      padding: 0 15px
      overflow: visible

.input-ingredient-group
  display: contents
  & .field-container
    height: 50px
    & .text-input
      font-size: 14px
      color: #b3b3b3
      font-weight: 700
