//column styles

.form-column
  display: block


.flex-wrapper
  display: flex
  flex-direction: row
  align-items: flex-start


.main-column
  width: 580px
  margin-right: 20px

.right-column
  width: 280px
  white-space: nowrap
  height: auto

.left-column
  width: 280px
  margin-right: 20px
  white-space: nowrap
  height: auto

// content boxes styles

.content-box
  box-sizing: border-box
  width: 100%
  border-radius: 4px
  box-shadow: 0 1px 4px rgba(71,44,6,0.2)
  margin-top: 20px
  background-color: #fff

  & .content-box__content
    padding: 20px

  & .content-box__content_ingredients
    background-color: #FBF8F6
