//column styles

.separation-line
  border-top: 1px solid #e6e1da
  margin-bottom: 20px
  margin-top: 10px

.form-column
  display: block


.flex-wrapper
  display: flex
  flex-direction: row
  align-items: flex-start


.main-column
  width: 580px
  margin-right: 20px

.right-column
  font-size: 13px
  width: 280px
  > .content-box
    padding: 20px
    > .instruction
      text-align: center
      > span
        display: inline-block
        font-size: 13px
        line-height: 20px
        font-weight: 400
        color: #242424
        margin-bottom: 20px

    > .preview
      text-align: center
      > .slider-container
        display: flex
        justify-content: space-around
        > .toggle-label
          color: #9f9f9f
          font-size: 12px
          line-height: 40px
      > .preview-label
        display: inline-block
        margin-top: 20px
      > .draft-label
        display: block
        margin-top: 10px

    > .publish
      > .checkboxes
        width: 100%
      > .publish-button
        text-align: center
        > .publish-button__label
          display: block
          text-align: center
          margin-top: 10px


.left-column
  width: 280px
  margin-right: 20px
  white-space: nowrap
  height: auto

// content boxes styles

.content-box
  box-sizing: border-box
  width: 100%
  border-radius: 4px
  box-shadow: 0 1px 4px rgba(71,44,6,0.2)
  margin-top: 20px
  background-color: #fff

  & .content-box__content
    padding: 20px

  & .content-box__content_ingredients
    background-color: #FBF8F6
