[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555;
}

[placeholder]:empty:focus::before {
    content: "";
}

.editor-text{
  padding: 10px;
}

.toolbox {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
}

.editor{
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.toolbox.text-toolbox{
  border-bottom: 0;
  font-weight: 700;
  font-size: 14px;
}
