.sort-delete-wrapper-inline
  margin-bottom: 20px
  > .block-managment
    display: flex
    width: 100%
    justify-content: space-between

    > .drag-button
      line-height: 34px
      margin-left: 15px

    > .trash-can
      font-size: 20px

    > .module
      display: flex
