.trash-can-btn{

  /*RESET DEFAULT BUTTON STYLES*/
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /*APPLY CUSTOM STYLES*/
  display: -webkit-box;
  width: 30px;
  height: 30px;
  background-image: url("../images/trashCanBtn.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.trash-can-btn:hover{
  cursor: pointer;
}

.trash-can-btn:active{
  background-color: #e7e7e7;
}
